/* VARIABLES */
:root {
    --corp-clr-primary: #289096;
    --corp-clr-secondary: #f0cc1f;
    --corp-clr-terciary: #ff55a1;
    --corp-clr-light: #faf3ed;

    --corp-clr-medium-light: #d452cc;
    --clr-secondary-light: #fdd66b;

    
    --clr-dark: #666;

    --title-font-family: "Montserrat", Arial, Helvetica, sans-serif;
    --title-font-size: 45px;
    --title-font-weigth: 400;
    --title-letter-spacing: 1.4px;
    --title-line-height: 1.5em;

    --subtitle-font-family: "Montserrat", Arial, Helvetica, sans-serif;
    --subtitle-font-size: 37px;
    --subtitle-font-weight: 300;
    --subtitle-letter-spacing: 1.6px;
    --subtitle-line-height: 1.3em;

    --text-font-family: Arial, Helvetica, sans-serif;
    --text-font-size: 18px;
    --text-font-weight: 300;
    --text-letter-spacing: 1px;
    --text-line-height: 1.2em;
    
}
.no-button {
    position: relative;
    padding: 0.7rem 1rem;
    background-color: var(--corp-clr-terciary);
    color: white;
    letter-spacing: 1.6px;
    border: none;
    border-radius: 0.6rem;
    width: 30%;
    min-width: 200px;
}
.in-text-a {
    color: var(--corp-clr-secondary);
    font-weight: 600;
}
.in-text-a:hover {
    color: var(--corp-clr-terciary);
}



/* Body contiene toda la pagina visible. Es padre de header, footer y el contenido de cada ruta (mas abajo en este archivo, a partir de linea ~180-200)  */
body {
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--corp-clr-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
}
section {
    margin-top: 50px;
}
a {
    text-decoration: none;
}
body header {
    align-self: start;
}
.container {
    margin: 100px 0;
    padding: 0 20px;
    max-width: 90%;
}
.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #289096A6;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Body de cada ruta a partir de aqui */

/* HOME.HTML */
.intro-home {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.h2-intro-home {
    color: var(--corp-clr-primary);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    letter-spacing: var(--title-letter-spacing);
    margin-top: var(--title-margin-top);
}

.h3-intro-home {
    color: #FBCD60;
    font-size: var(--subtitle-font-size);
    width: 80%;
    font-weight: var(--subtitle-font-weight);
    letter-spacing: 1.9px;
    display: inline;
}
.h1-section-home {
    color: #289096;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1;
    margin: 0;
}
.sobre-mes-millor {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.text-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;
}
.sobre-mes-millor-text {
    margin: 0 2rem;
    font-weight: 400;
}
.sobre-mes-millor-text p {
    line-height: 1.8rem;
}
.sobre-mes-millor-button {
    background-color: #289096A6;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0.3rem;
    padding: 0.8rem 1.3rem;
    transition-duration: 0.6s;
}
.sobre-mes-millor-button:hover {
    cursor: pointer;
    background-color: rgba(36, 104, 107, 0.651);
    scale: 1.1;
}
.sobre-mes-millor-a {
    margin: 1.5rem;
}
.images-section {
    flex: 3;
    width: 50rem;
    height: 24rem;
}
.image-section {
    background-image: url("../static/images/yoga.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-left: 3rem;
}
.estoy-buscando {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8rem;
}
.buscando-secciones {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 28rem;
    align-items: flex-start;
}
.cada-buscando-seccion {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 1rem;
    transition-duration: 0.5s;
}
.cada-buscando-seccion:hover {
    scale: 1.1;
}

#buscando1, #buscando2, #buscando3 {
    position: relative;
    width: 100%;
    height: 18rem;
}
#buscando1, #buscando2, #buscando3 {
    cursor: pointer;
}

.cada-buscando-seccion label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: black;
    padding-top: 2rem;
}
.cada-buscando-seccion label:hover {
    cursor: pointer;
}
.momento-elegirte {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}
.momento-elegirte .h2-intro-home {
    margin-left: 2rem;
}
.momento-elegirte .momento-texto {
    position: relative;
    width: 72%;
    margin: 0 auto 0 auto;
    line-height: 2;
    font-size: 19px;
    letter-spacing: 1.2;
    text-align: justify;
}
.momento-texto p {
    margin-bottom: 2rem;
}
.p1 {
    margin-top: 0;
}
.p-negro {
    color: rgb(73, 73, 73);
}
.p-gris {
    color:rgb(136, 136, 136);
}
.p-azul {
    color: #289096;
}
.saber-mas-button {
    background-color: #FBCD60;
    color: white;
    padding: 0.7rem 2.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 18px;
    letter-spacing: 0.1rem;
    transition-duration: 0.6s;
}
.saber-mas-button:hover {
    background-color: #c29e49;
    cursor: pointer;
    scale: 1.1;
}

/* PSICONUTRICION.HTML */
.psiconutricion-intro-text p {
    line-height: 2;
}
.image-section2 {
    background-image: url("../static/images/yoga.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 80%;
    margin-left: 14rem;
}
.momento-texto2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 0 auto;
    line-height: 1.6;
    font-size: 18px;
    letter-spacing: 1.2;
    text-align: justify;
}
.momento-texto2 .h2-intro-home {
    text-align: center;
    margin-top: 3rem;
}
.image-section3 {
    margin-left: 0;
    background-image: url("../static/images/yoga.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.smm2 {
    width: 100%;
}
.smm2-hijo1 {
    flex: 1;
}
.smm2-hijo2 {
    flex: 2;
}
.ts2 {
    width: 90%;
    margin-left: 5rem;
    
}
.text-section ul .p-negro {
    line-height: 2;
}
.section-como-funciona {
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.como-funciona {
    position: relative;
    width: 70%;
    margin-top: 3rem;
}
.como-funciona button {
    border: none;
    padding: 1rem 2rem;
    background-color: rgb(180, 141, 11);
    border: none;
    border-radius: 1rem;
    color: white;
}
.como-funciona-texto {
    margin-left: 4rem;
}
.como-funciona-texto p {
    color: rgb(136, 136, 136);
    line-height: 1.8;
}
.como-funciona .h2-intro-home {
    width: 60%;
}
.alimentarnos-con-sentido {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.titulo-alimentarnos-sentido {
    position: relative;
    text-align: center;
}
.mt3 {
    margin-top: 3rem;
}
.h1-amarillo {
    position: relative;
    color: #FBCD60;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 1;
    margin-top: -2rem;
}
.tas {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}
.buscando-secciones2 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: flex-start;
    z-index: 1;
}

/* PSICOLOGIA.HTML */
.todo-cambia {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.todo-cambia1 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.todo-cambia1 text {
    width: 65%;
    font-weight: 400;
    font-size: 2.7rem;
    margin-top: 5rem;
}
.centrado {
    align-self: center;
}
.todo-cambia2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 6rem;
}
.todo-cambia2 .h1-amarillo {
    margin-top: 0;
    font-weight: 300;
}
.dalai-lama {
    position: relative;
    display: flex;
    width: 90%;
    background-color: #83c0c4;
    padding: 6rem 0;
    align-items: center;
    justify-content: center;
}
.dalai-lama blockquote {
    position: relative;
    width: 90%;
    text-align: center;
}
.dalai-lama p {
    font-size: 2rem;
    color: white;
    width: 100%;
}
.dalai-lama footer {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    color: #ffe3cb;
}


/* SOBREMESMILLOR.HTML */

.ml4 {
    margin-left: 4rem;
}
.como-funciona-texto ul li {
    line-height: 1.5;
}

/* CLASES DE IOGA */
.h1 {
    font-size: 4.5rem;
    font-weight: 400;
    position: relative;
    display: flex;
    margin-left: 3.5rem;
}
#clasesYoga {
    width: 60%;
    height: 30rem;
}

table {
    margin: 2rem 0;
}
.bold {
    font-weight: 600;
    font-size: 1.3rem;
}
td {
    padding-right: 3rem;
    line-height: 1.4;
}
.iconos-dia-hora {
    width: 1rem;
    height: 1rem;
    margin-right: 0.6rem;
}
.mb3 {
    margin-top: 2rem;
    width: 20%;
}
.clases-yoga .ml4 {
    margin-left: 4rem;
    display: block;
}


/* ---------AÑADIDO DESDE PARTS------------ */



/* HEADER */
header nav {
    background-color: rgb(255, 234, 175);
    position: fixed;
    top: 0;
    color: black;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    z-index: 1000;
}
header nav .logo .header-logo {
    width: 145px;
    height: 145px;
    margin-left: 70px;
}
header nav a {
    font-size: 22px;
    color: var(--clr-dark);
    text-decoration: none;
}
header nav .primary .headerItems {
    margin: 20px 25px;
    padding: 2px 9px;
}
header nav .primary .headerItems:hover {
    color: black;
    background-color: rgb(253, 214, 107);
    border-radius: 10px;
}
header nav .desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav .desktop .primary,
header nav .desktop .secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav .desktop .secondary .instagramButton {
    border-radius: 28px;
    background-color: #289096A6;
    width: 11rem;
    height: 3.7rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.6s;
}
header nav .desktop .secondary .instagramButton:hover {
    cursor: pointer;
    background-color: rgba(40, 144, 150);
    scale: 1.1;
}
header nav .desktop .secondary .instagramButton text {
    color: white;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.6px;
}
header nav .desktop .secondary a button img {
    filter: invert(1);
    height: 16px;
    width: 16px;
    margin-right: 16px;
}
header nav .desktop .secondary .lenguages, footer .footer-lenguages {
    margin: 0 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav .desktop .secondary .lenguages button, footer .footer-lenguages button {
    border: none;
    background-size: cover;
    transition-duration: 0.6s;
    background-color: transparent;
}
header nav .desktop .secondary .lenguages button:hover, footer .footer-lenguages button:hover {
    cursor: pointer;
    scale: 1.3;
}
header nav .desktop .secondary .lenguages .esp, footer .footer-lenguages .esp {
    background-image: url("../static/images/castellano.png");
    height: 42px;
    width: 42px;
}
header nav .desktop .secondary .lenguages .cat, footer .footer-lenguages .cat {
    background-image: url("../static/images/catalan.png");
    height: 32px;
    width: 32px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-secondary-light);
    min-width: 16rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 0.8rem 0.9rem;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-content a:hover {
    background-color: #ffe056;
}

header nav .desktop .dropdown span {
    display: none;
}

/* FOOTER */
footer {
    background-color: #82BDB8;
    position: relative;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
footer .footer-primary {
    background-color: #f8f9fa;
    position: relative;
    width: 86%;
    height: 100%;
    margin-top: 48px;
    display: flex;
    align-items: center;
    border-radius: 32px;
}
footer .logo {
    flex: 1;
    position: relative;
    width: 120px;
    height: 120px;
}
footer .footer-primary .logo {
    position: relative;
    width: 106px;
    height: 106px;
    margin-right: 48px;
    margin-top: 64px;
}
footer h4 {
    color: #525252;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
footer p {
    color: #a0a0a0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: var(--text-letter-spacing);
    line-height: 1.9em;
}
footer .footer-primary .footer-descripcion {
    flex: 3;
    margin: 32px 48px auto 0;
}
footer .footer-primary .footer-contacto {
    flex: 2;
    margin: 32px auto auto 0;
}
footer .footer-primary a button {
    background-color: #fbcd60;
    height: 48px;
    width: 48px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition-duration: 0.6s;
}
footer .footer-primary a button:hover {
    background-color: rgba(251, 205, 96, 0.6);
    scale: 1.1;
    cursor: pointer;
}

/* RESPONSIVE HEADER & FOOTER */
@media screen and (min-width: 1070px) {
    header nav .desktop .secondary .lenguages {
        flex-direction: column;
        margin: 0 32px;
    }
    header nav .primary .headerItems {
        font-size: 19px;
        margin: 20px 10px;
    }
    header nav .logo .header-logo {
        width: 100px;
        height: 100px;
        margin-left: 30px;
    }
}
@media screen and (max-width: 1070px) and (min-width: 902px) {
    header nav .desktop .secondary .lenguages {
        margin: 0 16px;
    }
    header nav .primary .headerItems {
        font-size: 16px;
        margin: 10px 5px;
    }
    header nav .logo .header-logo {
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }
    footer {
        height: 600px;
    }
}
@media screen and (max-width: 902px) and (min-width: 676px) {
    header nav .desktop .secondary .instagramButton {
        border-radius: 12px;
        width: 80px;
        height: 30px;
    }
    header nav .desktop .secondary .instagramButton text {
        color: white;
        font-size: 8px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.8px;
    }
    header nav .desktop .secondary a button img {
        height: 10px;
        width: 10px;
        margin-right: 6px;
    }
    header nav .desktop .secondary .lenguages {
        margin: 0 5px;
    }
    header nav .primary .headerItems {
        font-size: 14px;
        margin: 10px 5px;
    }
    header nav .logo .header-logo {
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }
    footer {
        height: 600px;
    }
    footer .footer-primary {
        width: 100%;
        border-radius: 0;
    }
}
@media screen and (max-width: 676px) and (min-width: 400px) {
    header nav .desktop {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    header nav .desktop .secondary .instagramButton {
        border-radius: 12px;
        width: 80px;
        height: 30px;
    }
    header nav .desktop .secondary .instagramButton text {
        color: white;
        font-size: 8px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.8px;
    }
    header nav .desktop .secondary a button img {
        height: 10px;
        width: 10px;
        margin-right: 6px;
    }
    header nav .desktop .secondary .lenguages {
        margin: 0 5px;
    }
    header nav .primary .headerItems {
        display: none;
    }
    header nav .logo .header-logo {
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }
    
    header nav .desktop .dropdown .dropdown-content {
        position: absolute;
        right: 0;
        top: 20px;
        width: 70vw;
        text-align: left;
    }
    header nav .desktop .dropdown .menu-icon {
        display: block;
        font-size: 40px;
        font-weight: bold;
        color: var(--corp-clr-terciary)
    }
    footer {
        height: 720px;
    }
    footer .footer-primary {
        width: 95%;
        border-radius: 0;
        flex-direction: column;
        text-align: center;
        padding-left: 40px;
    }
    footer .footer-primary .logo {
        position: relative;
        width: 90px;
        height: 90px;
        margin-right: 48px;
        margin-top: 64px;
    }
    footer .footer-primary .footer-contacto {
        display: flex;
        flex-direction: row;
        width: 450px;
        gap: 50px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;

        border-top-width: 8px;
        border-top-style: dotted;
        border-top-color: var(--clr-secondary-light);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        border-bottom-width: 8px;
        border-bottom-style: dotted;
        border-bottom-color: var(--clr-secondary-light);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    footer .footer-lenguages {
        margin-top: 110px;
    }
}
