* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --clr-dark-grey: #666;
    --header-background-color: #fefefe;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--header-background-color);
    padding: 12px 20px;
}

.logo img { width: 100px; }
.menu { display: flex; }
.menu li { padding-left: 30px; }
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-dark-grey);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--clr-dark-grey);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after { width: 100% }

.open-menu, .close-menu {
    position: absolute;
    color: var(--clr-dark-grey);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top:20px;
    right: 40px;
}

#check {
    display: none;
}

@media (max-width: 610px) {
    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 80vh;
        position: fixed;
        top: -100%;
        z-index: 100;
        background-color: var(--header-background-color);
        transition: all 0.2s ease-in-out;
    }
    .menu li { margin-top: 40px; }
    .menu li a { padding: 10px; }
    .open-menu, .close-menu { display: block; }
    #check:checked ~ .menu { top: 0; }
}