:root {
    /* HEADER */
    --header-background-color: #ffeaaf;

    /* COLORES PRINCIPALES */
    --corp-clr-primary: #289096;
    --corp-clr-secondary: #f0cc1f;
    --corp-clr-terciary: #ff55a1;
    --corp-clr-light: #faf3ed;

    /* LUCES */
    --clr-primary-light: #70c9ce;
    --clr-secondary-light: #fdd66b;
    --clr-terciary-light: #ffbad9;
    --clr-joker-light: white;

    --clr-primary-alfa: #289096A6;

    /* Y SOMBRAS */
    --clr-primary-dark: #085357;
    --clr-secondary-dark: #685705;
    --clr-terciary-dark: #81023b;
    --clr-joker-dark: black;

    /* Texto 1 */
    --clr-dark-grey: #666;
    /* Texto 2 */
    --clr-medium-grey: #999;

    --clr-light-grey: #bbb;

    /* MES MILLOR de inicio */
    --mes-millor-inicio-color: var(--corp-clr-primary);
    --mes-millor-inicio-font-family: "Montserrat", Arial, Helvetica, sans-serif;
    --mes-millor-inicio-font-size: 50px;
    --mes-millor-inicio-font-weight: 400;
    --mes-millor-inicio-letter-spacing: 1.4px;

    /* Titulos (actualmente en azul) */
    --title-color: var(--corp-clr-primary);
    --title-font-family: "Montserrat", Arial, Helvetica, sans-serif;
    --title-font-size: 45px;
    --title-font-weigth: 400;
    --title-letter-spacing: 1.4px;
    --title-line-height: 1.5em;

    /* Subtitulos (actualmente en amarillo) */
    --subtitle-color: var(--corp-clr-secondary);
    --subtitle-font-family: "Montserrat", Arial, Helvetica, sans-serif;
    --subtitle-font-size: 37px;
    --subtitle-font-weight: 300;
    --subtitle-letter-spacing: 1.6px;
    --subtitle-line-height: 1.3em;

    /* H4 resizing */
    --h4-color: var(--corp-clr-primary);
    --h4-font-size: 30px;
    --h4-font-weight: 400;
    --h4-letter-spacing: 1.4;

    /* Texto general (actualmente en gris) */
    --text-color: var(--clr-dark-grey);
    --text-font-family: Arial, Helvetica, sans-serif;
    --text-font-size: 19px;
    --text-font-weight: 300;
    --text-letter-spacing: 1px;
    --text-line-height: 1.5;

    /* Botones */
    --button-background-color: var(--clr-primary-alfa);
    --button-color: var(--clr-joker-light);
    --button-font-family: Arial, Helvetica, sans-serif;
    --button-font-size: 20px;
    --button-font-weight: 400;
    --button-letter-spacing: 1.6px;

    /* Botones al pasar el raton por encima (actualmente azules) */
    --button-hover-background-color: var(--clr-primary-dark);
    --button-hover-color: var(--corp-clr-light);

    /* Links en el texto (actualmente amarillo) */
    --in-text-a-color: var(--corp-clr-secondary);
    --in-text-a-hover-color: var(--corp-clr-terciary);
    
    /* Notas informativas */
    --no-button-background-color: var(--corp-clr-terciary);
    --no-button-border-color: var(--clr-terciary-dark);
    --no-button-letter-spacing: 1.6px;
}
* {
    margin: 0;
    padding: 0;
}
/* Estilos generales */
body {
    font-family: var(--text-font-family);
    margin: 0;
    padding: 0;
    line-height: var(--text-line-height);
    color: var(--text-color);
    width: 100%;
}

/* Encabezado */
.header {
    background: #fefefe; /* Color casi blanco */
    display: flex;
    align-items: center; 
    justify-content: space-between; /* Espaciado entre logo, navbar y botón */
    padding: 0 20px; /* Añade padding */
    position: relative;
    min-width: 100vh;
    box-sizing: border-box;
}

.header .a-logo {
    margin-left: 100px;
    width: 103px;
    height: 103px;
}

.header .header-logo {
    width: inherit;
}

.navbar {
    list-style: none;
    margin: 0 auto; /* Centramos el navbar */
    padding: 0;
    display: flex;
    align-items: center;
    /* flex: 1; */ /* Deja que el navbar ocupe el espacio disponible */
    justify-content: center; /* Centra el navbar horizontalmente */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;    /* Asegura el centrado vertical */
}

.navbar ul li {
    margin: 0 20px; /* Ajusta el espaciado entre los items */
}

/* Items del navbar */
.navbar ul .navbar-item a {
    color: var(--clr-medium-grey); /* Color de los items en gris suave */
    text-decoration: none;
    font-size: 1.1rem; 
    font-weight: bold; 
    padding: 0 15px; 
    transition: color 0.3s ease, background-color 0.3s ease; 
}

/* Efecto para el item activo del navbar */
.navbar ul li a.active {
    background-color: var(--clr-primary-light); /* Ligero color de fondo */
    color: var(--clr-joker-light); /* Color de texto claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px;
}


/* Estilo base para el dropdown, lo ocultamos inicialmente */
.navbar ul li .dropdown {
    display: none; 
    position: absolute; 
    background-color: var(--clr-joker-light); /* Fondo blanco para el submenú */
    list-style: none; 
    padding: 0; 
    margin: 0; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    min-width: max-content; /* Permite que el ancho se ajuste al contenido más largo */
    z-index: 1000; /* Asegura que el menú desplegable se muestre por encima de otros elementos */
}

/* Estilo de los elementos dentro del dropdown */
.navbar ul li .dropdown li {
    width: 100%; /* Ancho fijo para el submenú */
}

/* Estilo de los elementos dentro del dropdown */
.navbar ul li .dropdown li a, .secondary .dropdown a {
    display: block; 
    padding: 10px 5px; /* Espacio interno */
    color: var(--clr-dark-grey); /* Utiliza gris oscuro */
    text-decoration: none; 
    font-size: 18px;
    background-color: var(--clr-joker-light); /* Fondo blanco para el submenú */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}


/* Efecto hover para los elementos del dropdown */
.navbar ul li .dropdown li a:hover {
    background-color: var(--clr-primary-light); /* Cambia el fondo al hacer hover */
    color: var(--clr-joker-dark); /* Cambia el color del texto al hacer hover */
}

/* Mostrar el dropdown al hacer hover sobre el elemento */
.navbar ul li:hover > .dropdown {
    display: block; /* Mostrar el submenú */
}

/* Contenedor del botón */
.button-container {
    margin-right: 50px;
    margin-left: auto; /* Empuja el botón a la derecha */
}

/* Estilos del botón */
.header .instagramButton {
    border-radius: 31px;
    width: 160px;
    height: 53px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-primary-alfa);
    color: var(--clr-joker-light);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);

    transition-duration: 0.6s;
}

.header .instagramButton text {
    color: var(--clr-joker-light);
    font-size: 14px;
    font-family: var(--button-font-family);
    letter-spacing: var(--button-letter-spacing);
}
.header .button-container a {
    text-decoration: none;
}
.header a button img {
    filter: invert(1);
    height: 16px;
    width: 16px;
    margin-right: 16px;
}

/* Efecto hover para el botón */
.header .instagramButton:hover {
    background-color: var(--clr-primary-dark); /* Cambia el fondo al hacer hover */
    color: var(--corp-clr-light); /* Cambia el color del texto al hacer hover */
    cursor: pointer;
    scale: 1.1;
}

.secondary {
    display: none;
}

/* Ocultar el dropdown por defecto */
.secondary .dropdown {
    display: none;
    position: absolute;
    width: 100vw; /* El dropdown ocupará todo el ancho de la ventana */
    background-color: white;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de "desplegable" */
    top: 100%;
    left: 0;
    box-sizing: border-box;
}




/* SECCION PRINCIPAL */
/* Hero */
.hero {
    background: var(--corp-clr-light);
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
    color: var(--mes-millor-inicio-color);
    font-family: var(--mes-millor-inicio-font-family);
    font-size: var(--mes-millor-inicio-font-size);
    font-weight: var(--mes-millor-inicio-font-weight);
    letter-spacing: var(--mes-millor-inicio-letter-spacing);
}

.main-content .hero p {
    margin-bottom: 20px;
    color: var(--corp-clr-secondary);
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    letter-spacing: var(--subtitle-letter-spacing);
}

/* Sobre més millor */
.sobre-mes-millor {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

.texto-inicio {
    margin: 10px 20px 10px;
    text-align: center;
}
.box {
    flex: 1; /* Ocupa un 50% */
    padding: 20px;
    box-sizing: border-box;
    margin-right: 50px;
}

.box img {
    max-width: 100%; /* La imagen se adapta al 100% del ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
}

.sobre-mes-millor h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--title-color);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weigth);
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
}
.estoy-buscando {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.estoy-buscando-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgnx {
    width: 15em;
    height: 15em;
    border: 1px solid black;
    margin: 8px auto;
}
.subfoto {
    text-align: center;
    top: 0;
    font-size: 23px;
}

.imgny {
    width: calc(100% - 4px);
    height: 200px;
    border: 2px dashed grey;
    margin: 0;
}

/* GENERICOS */
.titulos {
    color: var(--title-color);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weigth);
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    text-align: center;
}

.subtitulos {
    color: var(--subtitle-color);
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weigth);
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
}

.general-text {
    color: var(--text-color);
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
    line-height: var(--text-line-height);
}

.boton {
    background-color: var(--button-background-color);
    color: var(--button-color);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    border: none;
    border-radius: 7px;
    padding: 8px;
    margin: 20px 70px;
}


/* FOOTER */
footer {
    background-color: var(--clr-primary-light);
    position: relative;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
    height: calc(fit-content + 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
footer .footer-primary {
    background-color: var(--corp-clr-light);
    position: relative;
    width: 86%;
    height:fit-content;
    margin-top: 12px;
    display: flex;
    align-items: center;
    border-radius: 32px;
}
footer .logo {
    flex: 1;
    position: relative;
    width: 120px;
    height: 120px;
}
footer .footer-primary .logo {
    position: relative;
    width: 106px;
    height: 106px;
}
footer h4 {
    color: var(--clr-dark-grey);
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
footer p {
    color: var(--clr-medium-grey);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: var(--text-letter-spacing);
    line-height: 28px;
}
footer .footer-primary .footer-descripcion {
    flex: 3;
    margin: 24px;
}
footer .footer-primary .footer-contacto {
    flex: 2;
    margin: auto auto;
}
.footer-contacto .contacto-info p {
    margin-top: 10px;
    color: var(--corp-clr-terciary);
    font-weight: 700;
}
footer .footer-primary a button {
    background-color: #fbcd60;
    height: 48px;
    width: 48px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition-duration: 0.6s;
}
footer .footer-primary a button:hover {
    background-color: rgba(251, 205, 96, 0.6);
    scale: 1.1;
    cursor: pointer;
}




/* HEADER MOVIL */
/* @media screen and (max-width: 970px) and (min-width: 400px) { */
@media screen and (max-width: 970px) and (min-width: 200px) {
    .header {
        display: none;
    }

    .secondary {
        background: #fefefe; /* Color casi blanco */
        display: flex;
        align-items: center; 
        justify-content: space-between; /* Espaciado entre logo, navbar y botón */
        padding: 0 13px; /* Añade padding */
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }
    .secondary .a-logo {
        margin-left: 40px;
        width: 80px;
        height: 80px;
    }
    .secondary .a-logo img {
        width: inherit;
    }
    .secondary label {
        display: block;
        text-align: center;
    }
    .secondary .open-menu {
        display: block;
        font-size: 40px;
        font-weight: bold;
        color: var(--corp-clr-terciary);
        width: 100%;
        text-align: center;
    }
    #check {
        display: none;
    }
    #check:checked ~ .dropdown {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        top: 100%;
        right: auto;
        z-index: 100;
        padding: 0;
        margin: 0;
    }
    .secondary .instagramButton {
        border-radius: 31px;
        width: 160px;
        height: 53px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--clr-primary-alfa);
        color: var(--clr-joker-light);
        font-family: var(--button-font-family);
        font-size: var(--button-font-size);
        font-weight: var(--button-font-weight);
        letter-spacing: var(--button-letter-spacing);

        transition-duration: 0.6s;
    }
    .secondary .instagramButton text {
        color: var(--clr-joker-light);
        font-size: 14px;
        font-family: var(--button-font-family);
        letter-spacing: var(--button-letter-spacing);
    }
    .secondary a {
        text-decoration: none;
    }
    .secondary a button img {
        filter: invert(1);
        height: 16px;
        width: 16px;
        margin-right: 16px;
    }
    /* Ocultar el dropdown por defecto */
    .secondary .dropdown {
        display: none;
        width: 100%;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        top: 100%;
        left: 0;
        box-sizing: border-box;
    }
    
    .secondary .dropdown a {
        display: block;
        padding: 15px;
        background-color: var(--clr-terciary-light);
        text-align: center;
        border: 1px dotted var(--corp-clr-terciary);
        color: var(--clr-joker-dark);
        text-decoration: none;

    }
    .secondary .dropdown a span {
        position: relative;
        bottom: 90px;
    }
    .secondary .dropdown a img {
        width: 100%;
    }

    /* Efecto hover para los enlaces del dropdown */
    .secondary .dropdown a:hover {
        background-color: var(--clr-secondary-light);
        color: white;
    }
    section.sobre-mes-millor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    .sobre-mes-millor .titulo-texto-inicio {
        text-align: center;

        width: 100%;
        border: 1px solid red;
    }
    .hero {
        padding: 5px;
    }
    .hero h1 {
        padding: 8px;
        font-size: calc(var(--mes-millor-inicio-font-size) - 10px);
        font-weight: calc(var(--mes-millor-inicio-font-weight) - 200);
        letter-spacing: calc(var(--mes-millor-inicio-letter-spacing) - 0.2);
    }
    .main-content .hero p {
        margin-bottom: 5px;
        padding: 8px;
    }
}

@media screen and (max-width: 756px) and (min-width: 200px) {
    .footer-primary {
        display: flex;
        flex-direction: column;
        top: 0;
    }
    footer .footer-primary a {
        margin-top: 10px;
    }
    footer .footer-primary .footer-descripcion {
        text-align: center;
    }
    footer .footer-primary .footer-descripcion p {
        padding: 8px;
    }
    footer .footer-primary .footer-contacto {
        width: 90%;
        text-align: center;
    }
    footer .footer-primary .footer-contacto .contacto-info button {
        margin: 15px auto;
    }
}