<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="3"> -->
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="desktop">
                <div class="logo">
                    <a href="/"><img class="header-logo" src="../static/images/Logo-Mes-Millor.png" alt="Logo Mes Millor"></a>
                </div>
                <div class="primary">
                    <a class="headerItems" href="/">Inicio</a>
                    <div class="dropdown">
                        <a class="headerItems">Yoga</a>
                        <div class="dropdown-content">
                            <a class="block" href="/clases-de-yoga">Clases de Yoga</a>
                            <a class="block" href="/yoga-para-embarazadas">Yoga para embarazadas</a>
                            <a class="block" href="/yoga-postnatal">Yoga postnatal</a>
                        </div>
                    </div>
                    <a class="headerItems" href="/psiconutricion">Psiconutricion</a>
                    <a class="headerItems" href="/psicologia">Psicologia</a>
                </div>
                <div class="secondary">
                    <a href="https://www.instagram.com/mes_millor/" target="_blank"><button class="instagramButton" type="submit">
                        <img src="../static/images/instagram2.png" alt="Instagram">
                        <text>INSTAGRAM</text>
                    </button></a>
                    <div class="lenguages">
                        <button class="esp"></button>
                        <button class="cat"></button>
                    </div>
                </div>

                <div class="dropdown">
                    <span class="menu-icon">+</span>
                    <div class="dropdown-content">
                        <a class="block" href="/">Inicio</a>
                        <a class="block" href="/clases-de-yoga">Clases de Yoga</a>
                        <a class="block" href="/yoga-para-embarazadas">Yoga para embarazadas</a>
                        <a class="block" href="/yoga-postnatal">Yoga postnatal</a>
                        <a class="block" href="/psiconutricion">Psiconutrición</a>
                        <a class="block" href="/psicologia">Psicología</a>
                    </div>
                </div>


            </div>
        </nav>
    </header>
    <div class="container">
        {% block main %}{% endblock %}
    </div>

    <footer>
        <div class="footer-primary">
            <!-- <div class="logo-p"> -->
                <a href="/"><img class="logo" src="../static/images/Logo-Mes-Millor.png" alt="Logo Mes Millor"></a>
            <!-- </div> -->
            <div class="footer-descripcion">
                <h4>Més Millor</h4>
                <p>Centro de yoga, psiconutrición y psicología en la Sagrera, Barcelona. Espacio de crecimiento y desarrollo personal. Actividades orientadas a mantener el equilibrio físico, mental y psciológico.</p>
                <p>Clases de yoga en Barcelona · Psicología · Psiconutrición · Yoga para embarazadas en Barcelona · Grupos de embarazo y posparto Barcelona· Yoga posnatal con bebés Barcelona · Acompañamiento maternidad Barcelona</p>
            </div>
            <div class="footer-contacto">
                <h4>Contacto</h4>
                <div class="contacto-info">
                    <p> {{ correoElectronico }} EMAIL</p>
                    <p> {{ numeroTelefono }} TELEFONO</p>
                    <p> {{ direccionPostal }} DIRECCION</p>
                    <a target="_blank" href="https://www.instagram.com/mes_millor/">
                        <button type="submit">
                            <img src="../static/images/instagram.png" alt="Instagram">
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-lenguages">
            <button class="esp"></button>
            <button class="cat"></button>
        </div>
    </footer>
</body>
</html>