<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MÉS MILLOR - CENTRO DE YOGA Y PSICONUTRICIÓN</title>
    <link rel="stylesheet" href="../static/styles2.css">
    {% block links %}{% endblock %}
</head>
<body>
    <!-- Encabezado -->
    <header class="header">
        <a class="a-logo" href="{{ baseUri }}./"><img class="header-logo" src="{{ baseUri }}./static/images/Logo-Mes-Millor.png" alt="Logo Mes Millor"></a>
        <nav class="navbar">
            <ul>
                <li class="navbar-item"><a href="{{ baseUri }}./">Inicio</a></li>
                <li class="navbar-item"><a href="{{ baseUri }}./clases-de-yoga">Yoga</a>
                    <ul class="dropdown">
                        <li><a href="{{ baseUri }}./clases-de-yoga">Clases de Yoga</a></li>
                        <li><a href="{{ baseUri }}./yoga-para-embarazadas">Yoga para embarazadas</a></li>
                        <li><a href="{{ baseUri }}./yoga-postnatal">Yoga postnatal</a></li>
                    </ul>
                </li>
                <li class="navbar-item"><a href="{{ baseUri }}./psiconutricion">Psiconutrición</a></li>
                <li class="navbar-item"><a href="{{ baseUri }}./contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="button-container">
            <a href="https://www.instagram.com/mes_millor/" target="_blank"><button class="instagramButton" type="submit">
                <img src="{{ baseUri }}./static/images/instagram2.png" alt="Instagram">
                <text>INSTAGRAM</text>
            </button></a>
        </div>
    </header>
    <div class="secondary">
        <a class="a-logo" href="{{ baseUri }}./"><img class="secondary-logo" src="{{ baseUri }}./static/images/Logo-Mes-Millor.png" alt="Logo Mes Millor"></a>
        <input type="checkbox" id="check">
        <div class="dropdown">
            <a href="{{ baseUri }}./clases-de-yoga"><img src="{{ baseUri }}./static/images/yoga.png"><span>Clases de Yoga</span></a>
            <a href="{{ baseUri }}./psiconutricion"><img src="{{ baseUri }}./static/images/yoga.png"><span>Psiconutrición</span></a>            
            <a href="{{ baseUri }}./yoga-para-embarazadas"><img src="{{ baseUri }}./static/images/yoga.png"><span>Yoga para embarazadas</span></a>
            <a href="{{ baseUri }}./yoga-postnatal"><img src="{{ baseUri }}./static/images/yoga.png"><span>Yoga Postnatal</span></a>
        </div>
        <label for="check"><span class="open-menu">+</span></label>
        <a href="https://www.instagram.com/mes_millor/" target="_blank"><button class="instagramButton" type="submit">
            <img src="{{ baseUri }}./static/images/instagram2.png" alt="Instagram">
            <text>INSTAGRAM</text>
        </button></a>
    </div>

    <div class="container">
        {% block main %}{% endblock %}
    </div>
    <!-- Pie de Página -->
    <footer>
        <div class="footer-primary">
            <a href="/"><img class="logo" src="{{ baseUri }}./static/images/Logo-Mes-Millor.png" alt="Logo Mes Millor"></a>
            <div class="footer-descripcion">
                <h4>Més Millor</h4>
                <p>Centro de yoga, psiconutrición y psicología en la Sagrera, Barcelona. Espacio de crecimiento y desarrollo personal. Actividades orientadas a mantener el equilibrio físico, mental y psciológico.</p>
                <p>Clases de yoga en Barcelona · Psicología · Psiconutrición · Yoga para embarazadas en Barcelona · Grupos de embarazo y posparto Barcelona· Yoga posnatal con bebés Barcelona · Acompañamiento maternidad Barcelona</p>
            </div>
            <div class="footer-contacto">
                <h4>Contacto</h4>
                <div class="contacto-info">
                    <p>info@mesmillor.com</p>
                    <p>644 37 61 70</p>
                    <p>C/ Felip II, 23, entr. 4, 08027 Bcn</p>
                    <a target="_blank" href="https://www.instagram.com/mes_millor/">
                        <button type="submit">
                            <img src="{{ baseUri }}./static/images/instagram.png" alt="Instagram">
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-lenguages">
            <button></button>
            <button></button>
        </div>
    </footer>
</body>
</html>