{% extends "layout-esp.html" %}

<!-- Si hace falta añadir algun link -->
{% block links %} <!-- ___ --> {% endblock %}

<!-- El titulo en layout.html contiene "Mes Millor". Si se deja el bloque vacio, aparecera solamente Mes Millor -->
{% block title %} - Yoga para embarazadas{% endblock %}

<!-- Bloque principal (todo menos cabecera y footer) -->
{% block main %}
    <div class="main-content">
        <!-- AQUI TODO EL CUERPO DE LA PAGINA -->
         <div class="yoga-para-embarazadas-page">
            <h1 class="noMostrar">YOGA PARA EMBARAZADAS EN BARCELONA</h1>
            <h1 class="titulos">El embarazo respetado, con confianza y tranquilidad te permite vivir la experiencia más <br><span>CONSCIENTE Y PLENA</span></h1>
            <section class="imagenTexto">
                <img src="{{ baseUri }}./static/images/flor.jpg" alt="Clases de yoga prenatal">
                <div class="texto">
                    <h2 class="titulo-seccion">Clases de yoga prenatal</h2>
                    <p>¿Sabías que el yoga es la <b>actividad más recomendada durante el embarazo?</b></p>
                    <p>Practicar yoga durante el embarazo te ayuda físicamente y emocionalmente. Dale a tu cuerpo el movimiento que necesita ahora, para mantenerse ágil y fuerte. Disfruta de dedicarte un tiempo para ti y vive el embarazo con más conciencia, confianza y tranquilidad. Practica con nosotros para encontrarte feliz y acompañada de mujeres maravillosas como tú.</p>
                </div>
            </section>
            <section class="horarios">
                <h2 class="titulo-seccion">Horarios</h2>
                <table class="general-text">
                    <thead>
                        <tr>
                            <th><img src="{{ baseUri }}./static/images/dia.png" alt="Dia"></th>
                            <th><img src="{{ baseUri }}./static/images/hora.png" alt="Hora"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Martes</td>
                            <td>11:00h</td>
                        </tr>
                        <tr>
                            <td>Miércoles</td>
                            <td>18:00h</td>
                        </tr>
                        <tr>
                            <td class="bold">Puedes apuntarte en cualquier momento del embarazo, a partir de las 12 semanas.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
         </div>
    </div>
{% endblock %}