{% extends "layout-esp.html" %}

<!-- Si hace falta añadir algun link -->
{% block links %} <!-- ___ --> {% endblock %}

<!-- El titulo en layout.html contiene "Mes Millor". Si se deja el bloque vacio, aparecera solamente Mes Millor -->
{% block title %} - Yoga Postnatal{% endblock %}

<!-- Bloque principal (todo menos cabecera y footer) -->
{% block main %}
    <div class="main-content">
        <!-- AQUI TODO EL CUERPO DE LA PAGINA -->
         <div class="yoga-postnatal-page">
            <section class="intro-postnatal">
                <h1 class="titulo">YOGA<br>POSTNATAL</h1>
                <img src="{{ baseUri }}./static/images/yinyan.jpg" alt="Yoga Postnatal">
            </section>
            <section class="con-tu-bebe">
                <h1 class="titulo-seccion">Yoga con tu bebé en Més Millor</h1>
                <div class="rombo"></div>
                <p>Después del período de cuarentena, -alrededor de la séptima semana después del parto, y siempre que te sientas recuperada-, es ideal practicar yoga con tu bebé. Las clases de yoga postnatal son un lugar en el que se comparten experiencias con otras mujeres que se encuentran en el mismo momento vital que tú, en un ambiente relajado, positivo y en confianza.<br>El yoga postnatal refuerza el vínculo y la comunicación entre la mamá y el bebé, así como el vínculo social con otras mujeres y sus bebés. De la misma manera que disfrutamos compartiendo momentos con personas afines a nosotras, los bebés adoran estar con otros bebés.</p>
            </section>
            <section class="imagenTexto">
                <img src="{{ baseUri }}./static/images/estrella.jpg" alt="Como te beneficia el yoga despues del embarazo">
                <div class="texto">
                    <h2 class="subtitulos">¿Cómo te beneficia la practica de Yoga</h2>
                    <h1 class="titulo">DESPUÉS DEL EMBARAZO</h1>
                </div>
            </section>
         </div>
    </div>
{% endblock %}